@import './todo.scss';

html, 
body {
  margin: 0;
  background: #c7f9cc;
}

.main {
  &__toggle-all {
    position: absolute;
    width: rem(1);
    height: rem(1);
    opacity: 0;
  }
}

.toggle-all-icon {
  position: absolute;
  top: rem(-48);
  left: rem(23);
  transform: rotate(90deg);
  opacity: .3;

  @media (max-width: rem(768)) {
    top: rem(-45);
  }

  &::after {
    content: '❯';
    width: auto;
    height: auto;
    font-size: rem(25);
    color: #38a3a5;

    @media (max-width: rem(768)) {
      font-size: rem(20);
    }
  }

  &_highlighted {
    opacity: 1;
  }

  &_off {
    display: none;
  }
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}

.editing {
  visibility: hidden;
}
